/* reset */
* {margin: 0; padding: 0;}
.clearfix::before, .clearfix::after {display: block; content:''; clear:both;}
a {text-decoration: none;}
li {list-style: none;}
body {color:#ddd;}

/* 레이아웃 */
#wrap {width:1200px; margin:0 auto; }

/* header */
#header {line-height: 100px; }
#header .logo {float: left; width: 250px; height: 100px; background:#999; text-align: center;}
#header .nav {float: left; width: 950px; height: 100px; background: #888; text-align: center;}

/* banner */
#banner {width:1200px; height: 370px; text-align: center;  }

/* slide */
.slideList {position: relative; width:1200px; height: 370px; overflow: hidden;}
.slideList .slideImg {position: relative;}
.slideList .slideImg h2 {position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); color:#000; background: rgba(255,255,255,0.7); padding:20px 70px; border-radius:40px; }
.slideList .slideImg img {display: block;}

/* contents */
#contents {text-align: center; line-height: 200px;}
#contents > div {float: left; width:400px; height:200px; }
#contents > div.cont1 {background: #666; }
#contents > div.cont2 {background: #555; }
#contents > div.cont3 {background: #444; }

/* footer */
#footer {width:100%; line-height: 100px; text-align: center;}
#footer .foot1 {float: left; width:200px; height:100px; background: #333;}
#footer .foot2 {float: left; width:800px; height:100px; background: #222;}
#footer .foot3 {float: left; width:200px; height:100px; background: #111;}







