@charset "utf-8";

* {margin: 0; padding: 0;}
.clearfix::before, .clearfix::after {display: block; content:''; clear:both;}
a {text-decoration: none;}
li {list-style: none;}
body {color:#ddd;}

/* 레이아웃 */
#wrap {width:1200px; margin:0 auto; }

/* header */
#header {line-height: 100px; }
#header .logo {float: left; width: 250px; height: 100px; background:#999; text-align: center;}
#header .nav {float: left; width: 950px; height: 100px; background: #888; text-align: center;}

/* banner */
#banner {height: 300px; background: #777; text-align: center; line-height: 300px; }

/* contents */
#contents {text-align: center; line-height: 200px;}
#contents > div {float: left; width:400px; height:200px;}
#contents > div.cont1 {background: #666; }
#contents > div.cont2 {background: #555; }
#contents > div.cont3 {background: #444; color:red;}

/* footer */
#footer {width:100%; line-height: 100px; text-align: center; }
#footer .foot1 {float: left; width:200px; height:100px; background: #333;}
#footer .foot2 {float: left; width:800px; height:100px; background: #222;}
#footer .foot3 {float: left; width:200px; height:100px; background: #111;}

/*  레이어팝업  */
.layer {display: none; width:500px; height:500px; background: #fff; border:2px solid #000; position:absolute; left:50%; top: 50%; margin-left:-250px; margin-top:-250px; z-index:1000; }
.layer h2 {padding: 20px; color:#000;}
.layer .close {position:absolute; bottom:20px; right:20px;}
.layer-bg {display: none; width:100%; height:100%; background: rgba(0,0,0,0.7); position:absolute; left:0; top:0; z-index:500;}





