/*초기화*/
*{margin:0; padding:0;}
/* .clearfix::before {}     가상의 요소
.clearfix::after {} */

.clearfix::before, .clearfix::after {
    display:block;
    content:''; /*가상요소를 넣을 컨텐츠 영역*/
    clear:both; /*플롯의 성질을 차단시켜줌*/
}




/*레이아웃*/
#wrap {width:1200px; margin:0 auto;}
#header {}
#header .logo {float:left; width:250px; height:100px; background:#888;}
#header .nav {float:left; width:950px; height:100px; background:#777;}

/*banner*/
#banner {width:1200px; text-align:center; height:360px; overflow:hidden;}

/*slideList*/

.slideList {position:relative; width:1200px; height:360px;}
/* .slideList .slideImg {position:absolute; top:0; left:0;} */
.slideList .slideImg {position:relative;}
.slideList .slideImg h2 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgba(255,255,255,0.5);
    color:#fff;
    padding:10px 30px;
    border-radius:25px;
}
.slideList .slideImg img {display:block;} /*img는 inline요소*/



/*contents*/
#contents {}
#contents > div {float:left; width:400px; height:200px;} /*공통으로 잡아둠*/
#contents > div.cont1 {background:#555;}
#contents > div.cont2 {background:#444;}
#contents > div.cont3 {background:#333;}


/*footer*/
#footer {}
#footer .foot1 {float:left; width:200px; height:100px; background:#888;}
#footer .foot2 {float:left; width:800px; height:100px; background:#777;}
#footer .foot3 {float:left; width:200px; height:100px; background:#666;}