@charset "utf-8";

* {margin: 0; padding: 0;}
a {text-decoration: none; color:#333;}
ul {list-style: none;}
img {border:none;}
.cf:after {content: ""; display: block; clear: both;}
body {background: #fff;}


/* ======== 레이아웃 =============== */
#wrap {width:1000px; height: 650px;}
header {width:200px; height: 650px; float: left; background: #eee;}
section {width:800px; height: 650px; float: left;}


/* ======== header ============= */
.logo {width:200px; height: 100px; padding-top: 30px;}
.nav {width:180px; height: 550px; text-align: center; margin: 0 10px;}
.nav a {display: block; height: 40px; }
.nav li {line-height: 40px; }
.mainmenu >li > a {font-weight: bold; background: #520e3d; color:#fff;}
.mainmenu > li {position: relative; border-bottom: 1px solid #eee;}
.submenu {position:absolute; top:0; left:180px; width:180px; display: none; z-index: 2000;}
.submenu a {color:#fff; background:#c42192;}
.mainmenu >li:hover > a {background:#c42192; color:#fff; }
.submenu > li>a:hover {background: #86386e; }


/* ======== slide ============== */
#slide {width:800px; height: 350px; overflow: hidden;}
.slideList {width:2400px; height: 350px; position: relative;}
.slideImg {float: left;}


/* ======== contents =========== */
#contents {width:800px; height: 200px;}
#contents > div {float: left; box-sizing:border-box; height: 200px;}
#contents h3 {font-size:15px; margin:5px 0 0 5px; padding: 7px; background: #ddd;}
#contents h3 span {font-size: 13px; }
#contents span {float: right;}
#contents a:hover {color:#c42192; font-weight: bold;}

.cont1 {width:35%; }
.cont1 ul {margin: 10px 5px 10px 5px; }
.cont1 ul li {font-size: 13px; line-height: 27px;}

.cont2 {width:35%; }
.cont2 ul li {float: left; margin: 23px 0 0 7px; }
.cont2 ul li img {width:85px;}

.cont3 {width:30%;}


/* ======== footer ============= */
#footer {width:800px; height: 100px; font-size: 13px; background: #ddd;}
.bottom-logo {float: left; width:200px; padding-top: 30px;}
.copy {float: left; width:400px; padding:25px 20px; box-sizing: border-box;}
.family_site {float: left; width:200px; padding-top: 30px;}
.family_site select {padding: 5px 15px;}


/* ====== layer-popup ========== */
.layer-popup {width:400px; height:500px; z-index: 2000; background: #fff; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); display: none;}
.button {text-align: center; position: absolute; left:50%; bottom:5%; transform: translate(-50%,0);}
.button a {background: #fff; color:#333; padding: 10px 20px;}
.button a:hover {background: #c42192; color:#fff;}
.layer-bg {background: rgba(0,0,0,0.6); position: absolute; top:0; left:0; width:100%; height:100%; z-index: 1000;  display: none;}




