/* reset */
*{margin:0; padding:0;}
.clearfix::before,.clearfix::after{display:block; content:''; clear:both;}
a{color:#333; text-decoration:none;}
li{list-style:none;}
table{border:none;}

/* 레이아웃 */
#wrap{width:1200px; height:700px; margin:0 auto; background:#999;}


/* header */
#header{width:100%;}
#header .logo{float:left; width:200px; height:100px; background:#888;}
#header .nav{float:left; width:800px; height:100px; background:#777;}
#header .nav  li{float:right; width:25%; background:#666; text-align:center;}
#header .nav  li a{display:block; padding:10px; background:rgba(0,0,0,0.4);}
#header .nav  li a:hover{background:rgba(0,0,0,0.3);}
#header .nav  li ul.submenu{}
#header .nav  li ul.submenu li{}

/* banner */
#banner{width:1200px; height:300px; text-align:center; overflow:hidden;}

/* slideList */
.slideList{position:relative; width:100%; height:300px;/*overflow:hidden;*/}
.slideList .slideImg{position:relative;}/*image inline구조라서 공간 생김*/
.slideList .slideImg h2{position:absolute; left:50%; top:50%;
                        transform:translate(-50%, -50%); padding:10px 30px;
                         background:#fff;border-radius:25px;}
.slideList .slideImg img{display:block;}

/* contents */
#contents{float:left;width:100%; background:#555;}
#contents > div{float:left; width:400px; height:200px;}
#contents > .cont1{float:left; background:#444;}
#contents > .cont2{float:left;background:#333;}
#contents > .cont3{float:left;background:#222;}

/* footer */
#footer{float:left;width:100%; height:100px;background:#444;}
#footer > div{float:left;height:100px;}
#footer > .foot1{width:200px; background:#333;}
#footer > .foot2{width:800px;background:#222;}
#footer > .foot3{width:200px;background:#111;}