@charset "utf-8";

* {margin: 0; padding: 0;}
body{font: '돋움체',dotum,'굴림체',gulim;}
a{text-decoration: none; color:#333;}
li{list-style: none;}
img{border:none;}
.cf:after {content:""; clear:both; display:block; }

/* wrap */
#wrap{width:1200px; margin: 0 auto;}

/* header */
#header {position: relative; text-align: center;}
#header .logo {width: 300px; float: left; padding-top: 45px;}
#header .nav {position: relative; float: right; width:800px; margin-top: 60px; }
#header .nav > ul > li {position: relative; float:left; width:25%; }
#header .nav > ul > li > a {font-weight: bold;}
#header .nav li {height:40px; line-height: 40px;}
#header .nav a {display: block; font-size: 16px; }
#header .submenu {position: absolute; left:0; top:40px; width:100%; display: none; z-index: 2000;}
#header .submenu a {color:#fff;}
#header .nav-bg {position: absolute; top:100px; left:0; width:100%; height:160px;  z-index: 1000; background: rgba(0,0,0,0.6); display: none; }
#header .nav > ul > li:hover > a {background: rgba(0,0,0,0.7); color:#fff;}
#header .submenu > li:hover > a {color:#e75252;}

/* slider */
#slide {width:1200px; height:300px; overflow: hidden;}
.slide-cont {position: relative; width:3600px; height: 300px;}
.slide-cont img {float: left; display: block;}

/* contents */
#contents {width:1200px; height:200px; background: #eee; }
#contents > div {float:left;}

/* con1 */
.con1 {width:40%; height:200px; overflow: hidden; }
.con1 h2 {font-size:16px; margin:10px; padding: 7px; border-bottom: 2px solid #e75252;}
.con1 h2 span {font-size: 14px;}
.con1 ul {margin:15px;}
.con1 ul li {font-size:14px; line-height:26px;}
.con1 span {float: right;}
.con1 a:hover {color: #e75252;}

/* con2 */
.con2 {width:30%; height:100%; }
.con2 h2 {font-size:17px; margin:10px; padding: 7px; border-bottom: 2px solid #e75252;}
.con2 h2 span {font-size: 14px; float: right;}
.con2 ul {margin-left: 5px;}
.con2 ul li {float: left; margin:10px 0 0 5px;}
.con2 a:hover {color: #e75252;}

/* con3 */
.con3 {width:30%; height:100%;}

/* footer */
#footer {width:1200px; height:100px; }
.copyright {width:900px; float: left; font-size:14px; margin-top: 20px;}
.bottom-menu ul li {float: left; margin-right: 20px; font-weight: bold;}
.copyright a {color:#333;}
.copy {margin-top: 10px;}
.f-site {width:300px; float: right; text-align: center; margin-top: 30px;}
.f-site select {padding: 10px 40px; font-weight: bold;}

/* popup */
.layer-bg {background: rgba(0,0,0,0.5); width:100%; height:100%; position: absolute; left:0; top:0; display: none;}
.popup {width:400px; height:300px; background: #fff; border:1px solid #222328; padding: 50px; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); display: none;}
.popup h2 {text-align: center; padding: 10px 0; font-size: 30px; color:#fff; background: #e75252;}
.popup p {margin-top:30px; font-size: 15px; line-height: 160%;}
.popup ul {margin: 10px 10px 20px 20px;}
.popup ul li {list-style: disc; font-size: 15px; }
.popup .img {text-align: center;}
.popup .button {background: #000; text-align: center; width:70px; height:30px; line-height: 30px; position:absolute; bottom:30px; left:50%; transform: translate(-50%);}
.popup .button a {color:#fff; }