 /* reset */
 *{margin:0; padding:0;}
 .clearfix::before, .clearfix::after{display:block; content:''; clear:both;}
 a{color:#333; text-decoration:none;}
 li{list-style:none;}
 table{border:none;}


 /* 레이아웃 */
 #wrap{width:1000px;margin:0 auto; background:#ccc;}
 #side{float:left;background:#ccc;}
 #content{float:left; width:800px; height:650px; background:#777;}

 /* header */
 #side .logo{width:200px; height:100px; background:#999;}
 #side .nav{float:left; width:200px; height:550px; background:#888;}
 #side .nav ul li{text-align:center; background:rgb(83, 77, 77);}
 #side .nav ul li a{display:block; background:rgba(0,0,0,0.3); padding:10px;  color:#fff;}
 #side .nav ul li a:hover{ background:#333; background:rgba(0,0,0,0.4);}
 #side .nav ul li ul.submenu{display:none;}

 /* banner */
 #banner{float:left; width:800px; height:350px; background:#666;}

 /* contents */
 #contents{ width:800px; background:#555;}
 #contents > div{float:left; width:33.3%;  height:200px;}
 #contents .cont1{background:#444;}
 #contents .cont2{background:#333;}
 #contents .cont3{background:#222;}

 /* footer */
 #footer{width:800px; height:100px;}
 #footer > div{background:#111;}
 #footer .foot1{float:left;width:150px;background:#222; height:100px;}
 #footer .foot2{float:left;background:#333;width:650px; height:50px;}
 #footer .foot3{float:left;background:#444;width:650px; height:50px;}